boot-*.img
uefi-*.img
uefi-installer-*.zip
uefi-*.img-dtb
uefi-*.img.gz
uefi-*.img.gz-dtb
workspace
*.dll
ramdisk
.cache
.vscode
*.dts
*.swp
*.rej
*.orig
*.fd

# local build artifacts - not for the repo
Platform/Realme/sm8150/LinuxKernel/Image
Platform/Realme/sm8150/ramdisk_samurai.img
